{% if interface_loopbacks is defined %}
{% for iface in interface_loopbacks %}
interface {{ iface.name }}
{% if iface.description is defined %}
   description {{ iface.description }}
{% endif %}
{% if iface.ipv4_address is defined %}
   ip address {{ iface.ipv4_address }}
{% endif %}
{% if iface.ipv4_secondary is defined %}
{% for secondary in iface.ipv4_secondary %}
   ip address {{ secondary }} secondary
{% endfor %}
{% endif %}
{% if iface.ipv6_address is defined %}
   ipv6 address {{ iface.ipv6_address }}
{% endif %}
!
{% endfor %}
{% endif %}
